## Data science pipeline
### 1. Get the data
### 2. Preprocess data (raw data to tidy data)
### 3. Exploratory data analysis
### 4. Conclusions

In [1]:
# Libraries
# General purpose 
import os
import sys
import datetime
# Data manipulation
import pandas as pd
import numpy as np

### 1. Get the data

In [5]:
os.listdir("Bike_sharing_dataset")

['day.csv', 'hour.csv', 'Readme.txt']

In [10]:
df = pd.read_csv("Bike_sharing_dataset/hour.csv")
print(df.shape)
df.head()

(17379, 17)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

### 2. Preprocess data (raw to tidy)

### Drop undesired features

In [18]:
fields_to_drop = ['instant', 'dteday', 'season', 'weathersit', 
                  'weekday', 'atemp', 'mnth', 'workingday', 'hr']
df = df.drop(fields_to_drop, axis = 1)
df.head()

   yr  holiday  temp   hum  windspeed  casual  registered  cnt
0   0        0  0.24  0.81        0.0       3          13   16
1   0        0  0.22  0.80        0.0       8          32   40
2   0        0  0.22  0.80        0.0       5          27   32
3   0        0  0.24  0.75        0.0       3          10   13
4   0        0  0.24  0.75        0.0       0           1    1

### Find outliers

In [16]:
for column in df.columns:
    print("Outliers at {}: {}".format(column, df[column].isnull().sum()))

Outliers at instant: 0
Outliers at dteday: 0
Outliers at season: 0
Outliers at yr: 0
Outliers at mnth: 0
Outliers at hr: 0
Outliers at holiday: 0
Outliers at weekday: 0
Outliers at workingday: 0
Outliers at weathersit: 0
Outliers at temp: 0
Outliers at atemp: 0
Outliers at hum: 0
Outliers at windspeed: 0
Outliers at casual: 0
Outliers at registered: 0
Outliers at cnt: 0

In [17]:
print("Find all the outliers in the dataframe: {}".format(df.isnull().sum().sum()))

Find all the outliers in the dataframe: 0

### Categorize variables

In [27]:
df.head()

   yr  holiday  temp   hum  windspeed  casual  registered  cnt
0   0        0  0.24  0.81        0.0       3          13   16
1   0        0  0.22  0.80        0.0       8          32   40
2   0        0  0.22  0.80        0.0       5          27   32
3   0        0  0.24  0.75        0.0       3          10   13
4   0        0  0.24  0.75        0.0       0           1    1

In [26]:
dummy_fields = ['season', 'weathersit', 'mnth', 'hr', 'weekday']
# df2 = pd.get_dummies(df["hr"], prefix = "hr", drop_first = False)
# df2.head()
for dummy_field in dummy_fields:
    print(pd.get_dummies(df[dummy_field]))

KeyError: 'season'

### 3. Exploratory data analysis

### 4. Get the data